/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }

@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'elements';

body {
  background: lightyellow;
  font-size: calc(20px);
  font-family: Lato, sans-serif;
}

section.people,
section.beds {
  min-height: 100vh;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: flex-start;
  flex-direction: column;
  align-content: stretch;
}
section.beds {
  section.time {
    ul {
      display: flex;
      flex-direction: column;
      li {
        flex-grow: 1;
        font-size: .5rem;
      }
    }
  }
}
.main > header {
  flex: 0 0 auto;
  height:2em;
  margin: 0 0 3px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  background: rgba(255,255,255,.8);
  border-bottom: 1px solid #333;
}
.main > main {
  display: flex;
  flex: 1 0 auto;
}
.beds > main > section {
  border: 1px solid red;
  border-radius: 4px;
  background: rgba(255,255,255,.3);
  margin: 3px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  &.times {
    flex-grow: 0;
    .list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
    li {
    }
  }
  header {
    background: #000;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 5px;
    flex-grow: 0;
  }
  .list {
    flex: 1 0 50%;
    position: relative;
  }
  time,
  .visit {
    cursor: pointer;
    padding: .5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    left: 3px;
    right: 3px;
    border: 1px solid #000;
    border-radius: 4px;
    &.free {
      background: rgba(55,250,0,.8);
    }
    &.occupied {
      background: rgba(255,59,0,.8);
    }
    span {
      flex: 1 0 40%;
      &.time {
        flex: 0 0 auto;
      }
      &.note {
        flex-basis: 100%;
      }
    }
  }
}
.main.people {
  main {
    padding: 1em;
    justify-content: flex-start;
    > div {
      flex: 0 1 20vw;
      font-size: .8em;
    }
    h3 {
      font-weight: bold;
    }
  }
  #addclient {
    * + * {
      margin-top: 1em
    }
    form {
      display: flex;
      flex-direction: column;
    }
    button {
      align-self: flex-end;
      min-width: 5em;
    }
  }
}

.main.person {
  main {
    padding: 1em;
  }
  .persondata {
    margin-right: 2em;
    &:before {
      content: 'Личные данные';
      flex-basis: 100%;
      font-weight: bold;
      margin-bottom: .5em;
    }
  }
}
dl.persondata {
  display: flex;
  flex-wrap: wrap;
  dt {
    flex: 0 1 30%;
  }
  dd {
    flex: 1 0 50%;
    &.notes {
      flex-basis: 100%;
    }
  }
}
.notes {
  font-size: .8em;
  flex-basis: 100%;
  margin: 5px 0;
  border: 1px dotted rgba(0,0,0,.5);
  box-sizing: border-box;
  padding: .3em;
  border-radius: 4px;
  p {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: .3em;
    > * {
      flex: 1 0 50%;
    }
    > span {
      flex-basis: 100%;
    }
  }
}
.login {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  input {
    margin: 0 0 1em 0;
  }
}
.personvisits {
  h3 {
    margin-bottom: .5em;
    font-weight: bold;
  }
  li {
    list-style: disc;
    margin-bottom: .5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .notes {
      flex: 1 0 100%;
    }
    > time {
    }
  }
  b {
    $color: #fd2040;
    font-size: .9em;
    color: $color;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath d='M466.489 224.711V128c0-47.053-38.281-85.333-85.333-85.333H130.844c-47.053 0-85.333 38.281-85.333 85.333v96.711H0v244.622h34.133v-96.711h443.733v96.711H512V224.711h-45.511zM79.644 128c0-28.232 22.968-51.2 51.2-51.2h250.311c28.232 0 51.2 22.968 51.2 51.2v96.711h-56.889V110.933H136.533v113.778H79.644V128zm261.689 17.067v79.644H170.667v-79.644h170.666zm136.534 193.422H34.133v-79.644h443.733v79.644z' fill='#{$color}'/%3E%3C/svg%3E") 0 50% no-repeat;
    background-size: 15px auto;
    padding: 0 0 0 18px;
  }
}
dialog.modal {
  min-width: 300px;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background: #f8f8f8;
  border: 8px solid #f22;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(255,255,255,.8), 0 0 0 2000px rgba(255,255,255,.4);
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background: #000;
    color: #fff;
    padding: 0 1em;
    .close {
      background: #fff;
      width: 20px;
      height: 20px;
      border: none;
    }
  }
  main {
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 20em;
    > * {
      margin-bottom: 1em;
      flex: 1 0 90%;
    }
    button {
      align-self: flex-end;
      flex: 1 0 40%;
      + button {
        margin-left: 1em;
      }
    }
    label {
      display: flex;
      input {
        flex: 1 0 auto;
      }
    }
  }
}
